@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1{
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
}
*{
    font-size: 18px;
}
input{
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.items-container{
    text-align: left;

}
.kg-button{
    min-width: fit-content;
   width: 50%;
   height: 90%;
   margin: 5px;
}
.kg-row{
    text-align: center;
    margin: 7px 3px;
}
.todo-container{
    padding: 15px;
    min-width: 450px;
    width: 60%;
    margin: 40px auto ;
    border: 7px inset blue;
    box-shadow: 5px 5px 11px black;
}
div{
    align-items: center;
}